/*
 * Colour scheme: https://www.happyhues.co/palettes/10
 *
 *  - bg: #004643
 *  - headline: #fffffe 
 *  - paragraph: #abd1c6
 *  - button: #f9bc60
 *  - button text: #001e1d
 *
 *  - ill. stroke: #001e1d
 *  - ill. main: #e8e4e6
 *  #e16162
 *  - ill. highlight: #f9bc60
 *  - ill. secondary: #abd1c6
 *  - ill. tertiary: #e16162
 */

html {
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    background: #004643;
    line-height: 1.28581;
    font-size: 14px;
    overflow-y: scroll;
}

html body.bp3-overlay-open {
    overflow-y: scroll;
}


*, ::before, ::after {
    box-sizing: inherit;
}

html body, html .ui-text {
    font-family: system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Icons16", sans-serif;
}

.serif {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.six-note-editor {
    margin: 12px;
    padding: 4px;
    display: flex;
}

.six-note-editor-noteview {
    background: white;
    border-radius: 0;
    padding: 0;
    flex: 1;
    display: block;
    z-index: 0;
}

.six-note-editor-noteview-placeholder {
    background: white;
    width: 100%;
    height: 100vh;
}

.six-note-editor-active-target-bg {
    z-index: -1;
    background: #f9bc60;
}

svg {
    z-index: -1;
}

.six-real-note {
    fill: black;
}

.six-real-note-bg {
    fill: transparent;
    cursor: col-resize;
}

.six-bar {
    fill: black;
    transition: fill 100ms ease-in-out;
}

.six-bar-hover {
    fill: #abd1c6;
    transition: fill 100ms ease-in-out;
}

.six-bar-hover-bg {
    fill: transparent;
    cursor: none;
}

.six-note-to-add {
    fill: #e16162;
    stroke: #e16162;
    stroke-width: 25;
}

.six-note-to-add-bg {
    fill: transparent;
    cursor: none;
}

.six-note-drag {
    cursor: col-resize !important;
}

.six-note-drag {
    fill: transparent;
}


.between-bars {
    fill: #e16162;
}
