/*
 * Colour scheme: https://www.happyhues.co/palettes/10
 *
 *  - bg: #004643
 *  - headline: #fffffe 
 *  - paragraph: #abd1c6
 *  - button: #f9bc60
 *  - button text: #001e1d
 *
 *  - ill. stroke: #001e1d
 *  - ill. main: #e8e4e6
 *  #e16162
 *  - ill. highlight: #f9bc60
 *  - ill. secondary: #abd1c6
 *  - ill. tertiary: #e16162
 */

html {
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  background: #004643;
  line-height: 1.28581;
  font-size: 14px;
  overflow-y: scroll;
}

html body.bp3-overlay-open {
  overflow-y: scroll;
}


*, ::before, ::after {
  box-sizing: inherit;
}

html body, html .ui-text {
  font-family: system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Icons16", sans-serif;
}

.serif {
  font-family: "Times New Roman", Times, serif;
}

.six-note-editor {
  margin: 12px;
  padding: 4px;
  color: #abd1c6;
}

.six-note-editor {
  color: #abd1c6;
  margin: 16px 16px 24px;
  padding: 0 16px 16px;
  font-size: 16px;
  border: 1px solid #abd1c6;
  max-width: 1002px;
  border-radius: 3px;
}

.six-note-editor h1, .six-note-editor h2, .six-note-editor h3, .six-note-editor h4, .six-note-editor h5 {
 color: #fffffe;
}

.six-note-editor-noteview {
  background: white;
  margin: 0 -16px;
  border-radius: 0;
  padding: 0;
  flex: 1;
  display: block;
  z-index: 0;
  max-width: 1000px;
}

.six-note-editor-noteview-placeholder {
  background: white;
  width: 100%;
  height: 100vh;
}

.six-note-editor-active-target-bg {
  z-index: -1;
  background: #f9bc60;
}

.six-sheet {
  touch-action: manipulation;
}

.six-sheet > g {
  pointer-events: none;
}

.six-real-note {
  fill: black;
}

.six-bar {
  fill: black;
  transition: fill 100ms ease-in-out;
}

.six-bar-hover {
  fill: #abd1c6;
  transition: fill 100ms ease-in-out;
}

.six-note-to-add {
  fill: #e16162;
  stroke: #e16162;
  stroke-width: 25;
}

.between-bars {
  fill: #e16162;
}

.between-edit:hover {
  border: 1px solid #e16162;
}
