// Colour scheme: https://www.happyhues.co/palettes/10
$bg: #004643;
$headline: #fffffe;
$paragraph: #abd1c6;
$button: #f9bc60;
$buttonText: #001e1d;
$illStroke: #001e1d;
$illMain: #e8e4e6;
$illHighlight: #f9bc60;
$illSecondary: #abd1c6;
$illTertiary: #e16162;
