.six-note-toolbar {
    width: 50px;
    display: flex;
    flex-direction: column;
    color: black;
    fill: black;
    position: sticky;
    top: 16px;
    align-self: flex-start;
    height: calc(100vh - 32px);
}

.six-note-toolbar-title {
    color: #fffffe;
    font-size: 14px;
    padding: 8px 0;
    text-align: center;
    font-weight: bold;
}

.six-note-toolbar-mode {
    background: #f9bc60;
    fill: #001e1d;
    padding: 12px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    cursor: pointer;
    height: 46px;
}

.six-note-toolbar-mode:hover {
    border-right: 2px solid #f9bc60;
    fill: white;
    background: #e16162;
}

.six-note-toolbar-spacer {
    flex: 1;
}

.six-note-toolbar-mode-selected {
    border-right: 2px solid #f9bc60;
    fill: black;
    background: #e16162;
    cursor: default;
}

.six-note-toolbar-mode-selected:hover {
    fill: #001e1d;
}

.six-note-toolbar-action {
    fill: #f9bc60;
    padding: 12px;
    cursor: pointer;
    height: 46px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.six-note-toolbar-action:hover {
    fill: black;
    background: #f9bc60;
}

.six-note-toolbar-action-disabled {
    pointer-events: none;
    cursor: no-entry;
}

.six-note-toolbar-action-disabled svg {
    opacity: 0.5;
}

