@import "../colours";

.note {
  fill: black;
}

.bar {
  fill: black;
  transition: fill 100ms ease-in-out;
  cursor: text;
}

.barHover {
  fill: $paragraph;
  transition: fill 100ms ease-in-out;
}

.noteHoverPreview {
  fill: $illTertiary;
  stroke: $illTertiary;
  stroke-width: 25;
}

.cursor {
  animation: flash 1s linear infinite;
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}
