@import "../colours";

body .bp3-tooltip .bp3-popover-content {
  background: $bg;
  color: $paragraph;
}

body .bp3-tooltip .bp3-popover-arrow-fill,
body .bp3-tooltip .bp3-popover-arrow-border {
  fill: $bg;
}

body .bp3-dark .bp3-menu {
  background: $bg;
  color: $paragraph;
}
